<div class="home-container">
    <!-- Engagement Image -->
    <img src="assets/engagement-pic.jpg" alt="Engagement Photo" class="engagement-image" />
  
  
    <!-- Nav Bar -->
     <nav class ="navbar">

     <div class="nav-center">
      <!-- <span class="logo">Valentina & Isabel</span> -->
    </div>
  
    <div class="nav-right">
      <a routerLink="/faq" class="faq-link">FAQ</a>
      <a routerLink="/travel" class ="travel-link">Travel</a>
      <a routerLink="/things-to-do" class="to-do-link">Things to Do</a>
      <!-- <a routerLink="/registry">Registry</a> -->

      <a href="https://withjoy.com/valentina-and-isabel/rsvp" target="_blank" class="rsvp-btn">RSVP</a>

    </div>

     </nav>

     <div class="title-container">

      <div class="title-content">
        <h1 class="couple-names">Valentina & Isabel</h1>
        <h3 class="wedding-date">May 9th 2026</h3>
        <h4 class="wedding-location">Brown Mountain Beach Resort NC</h4>
      </div>
    
      <div class="countdown-clock">
        <div><span>{{ countdown.days }}</span><small>Days</small></div>
        <div><span>{{ countdown.hours }}</span><small>Hours</small></div>
        <div><span>{{ countdown.minutes }}</span><small>Minutes</small></div>
        <div><span>{{ countdown.seconds }}</span><small>Seconds</small></div>
      </div>

      
    
    </div>
    